*,
html,
body {
    /* padding: 0; */
    margin: 0;
    /* box-sizing: border-box; */
}


/* $bp-largest: 75em; //1200px / 16 = 75em
$bp-large: 62.5em;
$bp-mid: 50em;
$bp-small: 37.5em;
$bp-smallest: 25em;  */


main {
    padding: 1.5rem;
    background-color: rgba(250,250, 255, 0.9);
    height: 95vh;
}

.form-container {
    width: 18rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: .6px solid #bbb;
    padding: 2rem;
    position: relative;
    background-color: #fff;
}

.form-logo {
    height: 3rem;
    width: 60%;
    align-self: center;
    margin-bottom: 3rem;
}

.form-input {
    padding: 8px 5px;
    background-color: #eee;
    margin-bottom: .6rem;
    border: 1px solid #aaa;
    border-radius: 2px;
    outline: none;
}

.form-container h3 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: .8rem;
    color: #a9a;
    text-transform: uppercase;
    margin: 1.3rem 0;
}

.form-container h3::before,
.form-container h3::after {
    content: "";
    background-color: #aaa;
    display: block;
    height: .8px;
}

.form-btn {
    padding: .6rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(143, 199, 219);
    color: white;
}

.fb-link,
.pwd-link {
    text-decoration: none;
    align-self: center;
}

.fb-link {
    margin: 1.2rem 0;
    color: rgba(13, 13, 92, 0.8);
    font-weight: 500;
}

.fb-link i {
    margin-right: .5rem;
}

.pwd-link {
    color: #666;
    font-size: .8rem;
}

.sign-up {
    width: 18rem;
    margin: .5rem auto;
    border: .6px solid #bbb;
    padding: 1.5rem 2rem;
    text-align: center;
    background-color: #fff;
}

.sign-up h4 {
    font-weight: 100;
    color: rgb(56, 55, 55);
}

.sign-up a {
    text-decoration: none;
    color: rgb(10, 129, 172);   
}

.app-box {
    width: 19%;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
}

.app-img {
    width: 8.5rem;
    margin-top: 1rem;
}

.footer {
    width: 50%;
    margin: 0 auto;
    font-size: .85rem;
    font-weight: 100;
    color: rgba(56, 55, 55, .6);
    text-align: center;
    margin-top: 2.5rem;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.footer-item {
    
}

.footer-item a {
    text-decoration: none;
    color: currentColor;
}

.footer-text span {
    margin-right: 1rem;
}



@media only screen and (max-width: 600px) {
    .app-box,
    .footer {
        display: none;
    }
    
}

@media only screen and (max-width: 400px) {
    .form-container,
    .sign-up {
        width: 90%;
        margin: 0 auto;
        border: none;
        background-color: rgba(250,250, 255, 0.9);
    }

    
}